
/* selicionar todos os elementos do html  */
* {
    /* Zerar os espaçamentos dos elementos  */
    margin: 0;
    padding: 0;
    /* Considera a borda ao definir largura e altura */
    box-sizing: border-box;

    body {
        /* Defini uma familia padrão de fonte  */
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

        /* defini o tamanho padrão da fonte  */
        font-size: 16px;

        /* Defini a cor de texto padão  */
        color: #333;

        /* Definir um alinhamento padão dos textos  */
        text-align: center;
     }

     /* Seleciona todos os elemento  com a classe "Container"  */
    .container {
        /* Defini a largura minima  */
        min-width: 400px;

        /* Defini a largura maxima  */
        max-width: 1200px;

        /* Defini a cor de fundo  */
        background-color: grey;

        /* Centraliza container  */
        margin: 0 auto;
    }

    header {
        background-color: #333;
    }

    a.logo {
        /* Inline Block permite que o elemento tenha altura e largura */
        display: inline-block;
        width: 150px;
    }

    a.logo>img {
        width: 100%;
    }

    li {
        list-style-type: none;
    }

    a:link,
    a:visited {
        color: #EBEBEB;
        text-decoration: none;
    }

    a:hover {
        color: orange;
    }

    .banner {
        /* Defini uma imagem de fundo  */
        background-image: url(../img/banner.jpg);
        height: 300px;
        /* Define o tamanho da imagem de fundo  */
        background-size: cover;
        /* Define a posição do backgroud  */
        background-position: center;
    }
}